<!-- Modal Formulario Crear Obra -->
<div class="modal fade" id="formCrearObra" #formCrearObra tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="reiniciarFormulario(formulario)" #closeformCrearObra >&times;</button>
        <h3 class="modal-title" id="myModalLabel">Crear Obra Social</h3>
      </div>


      <form #formulario="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label>Iniciales</label>
            <div class="input-group">
              <input #estadoIniciales="ngModel" minlength="1" required  name="inicialesObra" [(ngModel)]='obraNueva.iniciales' #inicialesObra type="text" class="form-control">
            </div>
            <div *ngIf="estadoIniciales.invalid && (estadoIniciales.dirty || estadoIniciales.touched)" class="alert alert-danger">
                Debe tener al menos 1 inicial.
            </div>
          </div>

          <div class="form-group">
            <label>Nombre</label>
            <div class="input-group">
              <input #estadoNombre="ngModel" minlength="1" required   [(ngModel)]='obraNueva.nombre'  name="nombreObra" #nombreObra type="text" class="form-control">
            </div>
            <div *ngIf="estadoNombre.invalid && (estadoNombre.dirty || estadoNombre.touched)" class="alert alert-danger">
                El nombre es obligatorio
            </div>
          </div>
        </div>
      </form>


      <div class="modal-footer">

        <button class="btn btn-danger" (click)='cancelarModalCrear()'>
          Cancelar
        </button>

        <button class="btn btn-primary" [disabled]="estadoNombre.invalid || estadoIniciales.invalid"
        (click)='crearObra(inicialesObra.value,nombreObra.value);

        '>
        Guardar
      </button>

    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
