<!-- Modal Formulario Crear Turno -->
<div class="modal fade" id="formEditarPaciente" #formEditarPaciente tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" #closeFormEditarPaciente >&times;</button>
        <h3 class="modal-title" id="myModalLabel">Editar paciente</h3>
      </div>

      <div class="modal-body" *ngIf='modeloPaciente != null'>
        <!-- <div class="modal-body" *ngIf = 'horaNuevoTurno != null && diaNuevoTurno != null && pacientes != null' > -->

        <div class="form-group">
          <label>Nombre</label>
          <div class="input-group"><input  [(ngModel)]='modeloPaciente.nombre'  #nombrePaciente type="text" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label>Apellido</label>
          <div class="input-group"><input [(ngModel)]='modeloPaciente.apellido'  #apellidoPaciente type="text" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label>Dni</label>
          <div class="input-group"><input  [(ngModel)]='modeloPaciente.dni' #dniPaciente type="text" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <div class="input-group"><input  [(ngModel)]='modeloPaciente.email' #emailPaciente type="text" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label>Fecha de Nacimiento</label>
          <div class="input-group"><input  [(ngModel)]='modeloPaciente.fechaNacimiento'  #nacimientoPaciente type="text" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label>Telefono</label>
          <div class="input-group"><input  [(ngModel)]='modeloPaciente.telefono' #telefonoPaciente  type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label>Ocupación</label>
          <div class="input-group"><input  [(ngModel)]='modeloPaciente.ocupacion' #ocupacionPaciente type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label>Observaciones</label>
          <div class="input-group">
            <!-- <input  [(ngModel)]='modeloPaciente.observaciones' #observacionesPaciente type="text" class="form-control"> -->
            <textarea class="form-control" [(ngModel)]='modeloPaciente.observaciones' #observacionesPaciente rows="5" cols="80"></textarea>

          </div>
        </div>

        <!-- Podrian ser varias obras => Habria que ver el modelo -->
        <div class="form-group" *ngIf='obraSelected'>
          <label>Obra Social</label>

          <select class="form-control" required [(ngModel)] = "obraSelected" name="obraSelected"  >
            <option *ngFor="let obra of obras" [ngValue]="obra">{{obra.nombre}}</option>
          </select>
        </div>

      </div>

      <div class="modal-footer">

        <button class="btn btn-danger" (click)='cancelar()'>
          Cancelar
        </button>

        <button class="btn btn-primary"
        (click)='editarPaciente();

        '>
        Guardar
      </button>

    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

</div>
<!-- /.modal -->
