<!-- Modal Formulario Editar Obra -->
<div class="modal" id="formVerTurno" #formVerTurno tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" #closeformVerTurno >&times;</button>
        <h3 class="modal-title" id="myModalLabel">Turno: {{diaNuevoTurno}} a las {{horaNuevoTurno}}hs</h3>
      </div>

      <div class="modal-body" *ngIf='modeloObra != null && turno != null'>
        <!-- <div class="modal-body" *ngIf = 'horaNuevoTurno != null && diaNuevoTurno != null && Obras != null' > -->


        <div class="form-group">
          <label>Paciente:</label>
          <div class="input-group">
            <h5>{{pacienteDelTurno.nombre}}  {{pacienteDelTurno.apellido}}</h5>
          </div>
        </div>

        <div class="form-group">
          <label>Obra Social:</label>
          <div class="input-group">
            <h5>{{pacienteDelTurno.obra.nombre}}</h5>
          </div>
        </div>


        <div class="form-group">
          <label>DNI:</label>
          <div class="input-group">
            <h5>{{pacienteDelTurno.dni}}</h5>
          </div>
        </div>

        <div class="form-group">
          <label>Telefono:</label>
          <div class="input-group">
            <h5>{{pacienteDelTurno.telefono}}</h5>
          </div>
        </div>

        <div class="form-group">
          <label>Email:</label>
          <div class="input-group">
            <h5>{{pacienteDelTurno.email}}</h5>
          </div>
        </div>

        <div class="form-group">
          <label>Edad:</label>
          <div class="input-group">
            <h5>{{pacienteDelTurno.fechaNacimiento|age}}</h5>
          </div>
        </div>

        <div class="form-group">
          <label>Ocupacion:</label>
          <div class="input-group">
            <h5>{{pacienteDelTurno.ocupacion}}</h5>
          </div>
        </div>

        <div class="form-group">
          <label>Observaciones:</label>
          <div class="input-group">
            <h5>{{pacienteDelTurno.observaciones}}</h5>
          </div>
        </div>

        <div class="form-group" *ngIf="turno.esWeb">
          <label>* Sacado por pagina web</label>
        </div>

      </div>

      <div class="modal-footer">

        <button class="btn btn-info" *ngIf='turnoModificable' (click)='editarPaciente()'>
          Editar paciente
        </button>

        <button class="btn btn-danger" *ngIf='turnoModificable' (click)='cancelarTurno()'>
          Cancelar Turno
        </button>

        <button class="btn btn-primary"
        (click)='cancelar();'>
        OK
      </button>

    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

</div>
<!-- /.modal -->




<editar-paciente (pacienteEditado)="onEditarPaciente($event)" *ngIf='pacienteDelTurno' [paciente]=pacienteDelTurno></editar-paciente>
