<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-circle" src="assets/images/profile_small.jpg">
          <a dropdownToggle>
            <span class="block m-t-xs"> <strong class="font-bold">{{profile?.nombre}}</strong> </span>
            <span class="text-muted text-xs block">{{profile?.cargo}}<b class="caret"></b> </span>
          </a>
          <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
            <li><a>Perfil</a></li>
            <li class="divider"></li>
            <li><a (click)='logOut()'>Cerrar Sesión</a></li>
          </ul>
        </div>
        <div class="logo-element">
          <img alt="image" class="img-circle" src="assets/images/profile_small.jpg">
        </div>
      </li>


      <!--
      <li [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard examples</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li [ngClass]="{active: activeRoute('dashboard1')}"><a [routerLink]="['/dashboards/dashboard1']">Dashboard v.1</a></li>
          <li [ngClass]="{active: activeRoute('dashboard2')}"><a [routerLink]="['/dashboards/dashboard2']">Dashboard v.2</a></li>
          <li [ngClass]="{active: activeRoute('dashboard3')}"><a [routerLink]="['/dashboards/dashboard3']">Dashboard v.3</a></li>
          <li [ngClass]="{active: activeRoute('dashboard4')}"><a [routerLink]="['/dashboards/dashboard4']">Dashboard v.4</a></li>
          <li [ngClass]="{active: activeRoute('dashboard5')}"><a [routerLink]="['/dashboards/dashboard5']">Dashboard v.5</a></li>
        </ul>
      </li>
      -->

        <li [ngClass]="{active: activeRoute('starter')}" *ngIf="!esMedico()">
          <a [routerLink]="['/']"><i class="fa fa-th-large"></i> <span class="nav-label">Escritorio</span></a>
        </li>

        <li [ngClass]="{active: activeRoute('turnos')}" *ngIf='mostrarTurnosMedicos()'>
          <a><i class="fa fa-th-large"></i> <span class="nav-label">Turnos</span> <span class="fa arrow"></span> </a>
          <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('turnos')}">
            <!-- *ngFor="let doctor of doctores" -->
            <li *ngFor='let med of medicos'><a [routerLink]="['/turnos/' + med.nombre +'/'+med._id]">{{med.nombre}} {{med.apellido}}</a></li>
          </ul>
        </li>


        <li [ngClass]="{active: activeRoute('medico')}" *ngIf="esMedico()">
          <a [routerLink]="['/medico']"><i class="fa fa-th-large"></i> <span class="nav-label">Turnos del Dia</span></a>
        </li>

        <li [ngClass]="{active: activeRoute('turnos')}" *ngIf="esMedico()">
          <a [routerLink]="['/turnos/' + medico.nombre +'/'+medico._idMedico]"><i class="fa fa-th-large"></i> <span class="nav-label">Calendario</span></a>
        </li>


        <li [ngClass]="{active: activeRoute('pacientes')}">
          <a [routerLink]="['/pacientes']"><i class="fa fa-th-large"></i> <span class="nav-label">Pacientes</span></a>
        </li>

        <li [ngClass]="{active: activeRoute('obras')}" *ngIf="!esMedico()">
          <a [routerLink]="['/obras']"><i class="fa fa-th-large"></i> <span class="nav-label">Obras</span></a>
        </li>

        <li [ngClass]="{active: activeRoute('configuracion')}" *ngIf="!esMedico()">
          <a [routerLink]="['/configuracion']"><i class="fa fa-th-large"></i> <span class="nav-label">Configuracion</span></a>
        </li>

        <li [ngClass]="{active: activeRoute('configuracion')}" *ngIf="esMedico()">
          <a [routerLink]="['/configuracion/' + medico._idMedico]"><i class="fa fa-th-large"></i> <span class="nav-label">Configuracion</span></a>
        </li>





    </ul>

  </div>
</nav>
