<div class="col-lg-4">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Mensajes</h5>
      <!--<iboxtools></iboxtools>-->
    </div>
    <div class="ibox-content ibox-heading">
      <h3><i class="fa fa-envelope-o"></i> Pedido de usuario</h3>
      <small><i class="fa fa-tim"></i> Tenes {{solicitudes?.lenght}} solicitudes de usuario nuevas.</small>
    </div>
    <div class="ibox-content">
      <div class="feed-activity-list">
      <!--
      {
        "id": 5,
        "nombre": "Ray Bradbury",
        "dni": "8432749",
        "createdAt": "2017-05-31 10:04:00"
      }
      -->
      <div *ngIf='solicitudes.length > 0'>
        <div  class="feed-element" *ngFor="let solicitud of solicitudes">
          <div (click)="aprobarSolicitud(solicitud)">
            <small class="pull-right text-navy">hace {{aDate(solicitud?.createdAt) | amTimeAgo:true }}</small>
            <strong>{{solicitud.nombre}}</strong>
            <div>DNI: {{solicitud.dni}}</div>
            <small class="text-muted">{{solicitud.createdAt | amDateFormat:'DD-mm HH:mm'}}</small>
          </div>
        </div>
        </div>

      </div>
    </div>
  </div>
</div>
