<div class="col-lg-4">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Mensajes</h5>
      <!--<iboxtools></iboxtools>-->
    </div>
    <div class="ibox-content ibox-heading">
      <h3><i class="fa fa-envelope-o"></i> Pedido de usuario</h3>
      <small><i class="fa fa-tim"></i> Tenes {{cantidadSolicitudes}} solicitudes de usuario nuevas.</small>
    </div>
    <div class="ibox-content">
      <div class="feed-activity-list">
      <div *ngIf='haySolicitudes'>
        <div  class="feed-element" *ngFor="let solicitud of solicitudes">
          <div (click)="abrirSolicitud(solicitud)">
          <!-- <div data-dismiss="modal" data-toggle="modal" data-target="#formularioSolicitud"> -->
            <small class="pull-right text-navy">hace {{aDate(solicitud?.createdAt) | amTimeAgo:true }}</small>
            <strong>{{solicitud.nombre}} {{solicitud.apellido}}</strong>
            <div>DNI: {{solicitud.dni}}</div>
            <small class="text-muted">{{solicitud.createdAt | amDateFormat:'DD-mm HH:mm'}}</small>
          </div>
        </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal Formulario Solicitud - Preliminar -->
        <div class="modal fade" id="formularioSolicitud" #formularioSolicitud tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" #closeFormSolicitud >&times;</button>
                        <h3 class="modal-title" id="myModalLabel">Solicitud Nuevo Paciente</h3>
                    </div>

                    <div class="modal-body" *ngIf = 'solicitudAbierta != null'>

                        <div class="form-group">
                            Nombre:
                            <label >{{solicitudAbierta.nombre}}</label>
                            <!-- <input type="text" class="form-control" name="contratoNombre" [(ngModel)]="model.contratoNombre" #contratoNombre="ngModel" required /> -->
                        </div>

                        <div class="form-group">
                            Apelldo:
                            <label >{{solicitudAbierta.apellido}}</label>
                        </div>

                        <div class="form-group">
                            Dni:
                            <label >{{solicitudAbierta.dni}}</label>
                        </div>

                        <div class="form-group">
                           Email:
                            <label >{{solicitudAbierta.email}}</label>
                        </div>

                        <div class="form-group">
                           Fecha de Nacimiento:
                            <label >{{solicitudAbierta.fechaNacimiento | date:'dd/MM/yy'}}</label>
                        </div>

                        <div class="form-group">
                            Telefono:
                            <label >{{solicitudAbierta.telefono}}</label>
                        </div>

                        <div class="form-group">
                           Obra Social:
                            <label >{{solicitudAbierta.obra.nombre}}</label>
                        </div>

                    </div>

                    <div class="modal-footer">

                        <button class="btn btn-danger" (click)='rechazarSolicitud(solicitudAbierta)'>
                            Rechazar Solicitud
                        </button>

                        <button class="btn btn-primary" (click)='aprobarSolicitud(solicitudAbierta)'>
                            Aceptar Solicitud
                        </button>

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->

        </div>
        <!-- /.modal -->
