<!-- Modal Formulario Editar Medicos -->
<div class="modal fade" id="formEditarMedico" #formEditarMedico tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" #closeFormEditarMedico >&times;</button>
        <h3 class="modal-title" id="myModalLabel">Actualizar Medico</h3>
      </div>

      <!-- <div class="modal-body" > -->
      <div class="modal-body" >
        <div class="form-group">
          <label>Nombre</label>
          <div class="input-group">
            <input #estadoNombre="ngModel" minlength="1" required #nombreMedico [(ngModel)]="modeloMedico.nombre" placeholder="Ej: Martin" type="text" class="form-control">
          </div>
          <div *ngIf="estadoNombre.invalid && (estadoNombre.dirty || estadoNombre.touched)" class="alert alert-danger">
              El nombre es obligatorio
          </div>
        </div>


        <div class="form-group">
          <label>Apellido</label>
          <div class="input-group">
            <input #estadoApellido="ngModel" minlength="1" required  #apellidoMedico [(ngModel)]="modeloMedico.apellido" placeholder="Ej: Martin" type="text" class="form-control">
          </div>
          <div *ngIf="estadoApellido.invalid && (estadoApellido.dirty || estadoApellido.touched)" class="alert alert-danger">
              El apellido es obligatorio
          </div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <div class="input-group">
            <input #estadoEmail="ngModel" minlength="1" required #emailMedico [(ngModel)]="modeloMedico.email" placeholder="Ej: medico@gmail.com" type="text" class="form-control">
          </div>
          <div *ngIf="estadoEmail.invalid && (estadoEmail.dirty || estadoEmail.touched)" class="alert alert-danger">
              El email es obligatorio
          </div>
        </div>

        <div class="form-group">
          <label for="">Duracion del turno</label>
          <div class="input-group">
            <input type="text" [(ngModel)]="modeloMedico.duracion" #duracionTurno class="form-control"></div>
        </div>

        <label for="">Obras sociales aceptadas</label>
        <div class="form-group">


          <div id="divSelector" class="">

            <select2
            *ngIf = 'actualizado == true'
            [data]="obrasSelector"
            [options]="options"
            [width]="500"
            [value]="value"
            [cssImport]="true"

            (valueChanged)="changed($event)"
            ></select2>



            <!--
            [cssImport]="false"

            <ng-select  *ngIf = 'actualizado == true'
            [multiple]="true"
            [allowClear]="true"
            [items]="obrasSelector"
            [disabled]="disabled"
            (data)="refreshValue($event)"
            (selected)="selected($event)"
            (removed)="removed($event)"
            (typed)="typed($event)"
            placeholder="Obras sociales">
          </ng-select> -->


        </div>
      </div>

    </div>

    <div class="modal-footer">

      <button class="btn btn-danger" (click)='cancelar()'>
        Cancelar
      </button>

      <button class="btn btn-primary"  [disabled]="estadoNombre.invalid || estadoApellido.invalid" (click)='actualizarDatos(modeloMedico.nombre,modeloMedico.apellido,modeloMedico.email,modeloMedico.duracion)'>
        Guardar
      </button>

    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

</div>
<!-- /.modal -->
<button id="openEditarMedico" #openEditarMedico [hidden]="true" data-toggle="modal" data-target="#formEditarMedico">Open Modal</button>
