<div class=" example-container ">

      <!-- TODO: implementar este spinner -->
    <!-- <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div> -->

    <!-- TODO: Cambiar esto a como esta hecho el editar. Es decir, con un click y que la responsabilidad
    de mostrarse sea del componente agregar-obra -->
    <div class="row m-b-sm">
        <div class="col-md-12">
            <h2>Obras Sociales
                <button class="btn btn-s btn-primary pull-right" data-toggle="modal" data-target="#formCrearObra">
                    <i class="fa fa-plus"></i>
                </button>
            </h2>
        </div>
    </div>


    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Obra Social">
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" class="hoverTable example-table" matSort matSortActive="nombre" matSortDisableClear
        matSortDirection="asc">

        <!-- Iniciales Column -->
        <ng-container matColumnDef="iniciales">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Iniciales </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.iniciales}} </mat-cell>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="editar(row)" [ngClass]="{'isSpecial':  row._id == seleccionado._id}" 
        *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    
    <!-- TODO: una vez arreglado el CSS, agregar mas opciones de page size  -->
    <mat-paginator [pageSizeOptions]="[5]" [pageSize]="5">
    </mat-paginator>

</div>
<br>

<editar-obra *ngIf='seleccionado._id !== "" ' [obra]='seleccionado'></editar-obra>
<agregar-obra></agregar-obra>