<!-- Wrapper-->
<!-- <body *ngIf="estaLogueado()" > -->
<!-- <div *ngIf="estaLogueado()" id="wrapper"> -->
<style>.barraDelCostado{
    margin: 0 0 0 0px !important;
    /*background-color: black;*/
}</style>
<div id="wrapper">

  <!-- Left navigation bar -->
  <navigation *ngIf="estaLogueado()"></navigation>

  <!-- Main page wrapper -->
  <div id="page-wrapper" class="gray-bg" [ngClass]="{'barraDelCostado': !estaLogueado()}">

    <!-- Top navigation -->
    <topnavbar *ngIf="estaLogueado()"></topnavbar>

    <!-- Main view/routes wrapper-->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer *ngIf="estaLogueado()"></footer>

  </div>
  <!-- End page wrapper-->

</div>
<!-- End wrapper-->

<!--
<body *ngIf="!estaLogueado()" class="gray-bg">
   <router-outlet></router-outlet>
</body> -->

<!-- <div *ngIf="!estaLogueado()" class="gray-bg">
   <router-outlet></router-outlet>
</div> -->
