/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

/* Tablas */


.mat-focused .mat-form-field-placeholder,
.mat-primary .mat-option.mat-selected,
{
  color: $navy!important;
  outline-color: $navy!important;
  text-decoration-color: $navy!important;
}
.mat-form-field-ripple {
  background-color: $navy!important;
}
.mat-select-arrow{
  color: $navy!important;
  outline-color: $navy!important;
  text-decoration-color: $navy!important;
}

.mat-select,
.mat-table,
.mat-form-field {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}

/* nuevas barras de 3px */
.barra,
.filled{
  height: 3px;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}
.barra{
  width: 90%;
  background-color: $dark-gray;
}
.filled-ok{
  background-color: $lazur;
}
.filled-warning{
  background-color: $yellow;
}
.filled-danger{
  background-color: $red;
}