<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Medicos</h5>
         <!--<iboxtools></iboxtools>  {{whatTime | async | amDateFormat:'hh:mm'}}  -->
      </div>
      <div class="ibox-content">
        <table class="table table-hover no-margins">
          <thead>
          <tr>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Duracion Turnos</th>
            <!-- <th>Doctor<th> -->
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let medico of medicos">
          <!--
          {
            "id": 12,
            "dia": "01-06-2017",
            "hora": "12:30",
            "status": "Pendiente",
            "paciente": "Raul",
            "doctor": "Dra. Manzazno"
          }
          -->
            <td>{{medico.matricula}}</td>
            <td>{{medico.nombre}}</td>
            <td>{{medico.apellido}}</td>
            <td>{{medico.duracion}}</td>

            <td>
              <!-- <button (click)="editar(turno)" class="btn btn-info"></button> -->
              <button (click)="abrirModal(medico)" class="btn btn-success">Actualizar Datos Basicos</button>
              <button (click)="configurarSemana(medico)" class="btn btn-primary">Configurar Semana</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<app-modal-semana *ngIf="medicoSeleccionado != null" [medico]="medicoSeleccionado"></app-modal-semana>
