<div class="example-container">

    <!-- TODO: implementar este spinner -->
    <!-- <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div> -->

    <!-- TODO: Cambiar esto a como esta hecho el editar. Es decir, con un click y que la responsabilidad
    de mostrarse sea del componente agregar-paciente -->
    <div class="row m-b-sm">
        <div class="col-md-12">
            <h2>Pacientes
                <button class="btn btn-s btn-primary pull-right" data-toggle="modal" data-target="#formAgregarPaciente">
                    <i class="fa fa-plus"></i>
                </button>
            </h2>
        </div>
    </div>

    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Paciente">
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" class="hoverTable example-table" matSort matSortDisableClear
        matSortDirection="asc">

        <!-- DNI Column -->
        <ng-container matColumnDef="dni">
            <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.dni}} </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell class="hidden-sm hidden-xs col-md-2" *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell class="hidden-sm hidden-xs col-md-2" *matCellDef="let row">
                <div *ngIf="row.email.substr((row.email.length-10),row.email.length) == '@email.com'">Sin email - {{row.email.substr(0,row.email.length-10)}}</div>
                <div *ngIf="row.email.substr((row.email.length-10),row.email.length) != '@email.com'">{{row.email}}</div>
            </mat-cell>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
        </ng-container>

        <!-- Apellido Column -->
        <ng-container matColumnDef="apellido">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.apellido}} </mat-cell>
        </ng-container>

        <!-- Teléfono Column -->
        <ng-container matColumnDef="telefono">
            <mat-header-cell class="hidden-sm hidden-xs" *matHeaderCellDef mat-sort-header> Teléfono </mat-header-cell>
            <mat-cell class="hidden-sm hidden-xs" *matCellDef="let row"> {{row.telefono}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editar(row)" ></mat-row>
    </mat-table>
    <!-- TODO: una vez arreglado el CSS, agregar mas opciones de page size  -->
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5]" [pageSize]="5">
    </mat-paginator>
</div>

<editar-paciente *ngIf='seleccionado._id !== "" ' [paciente]='seleccionado' (pacienteEditado)='onPacienteEditado($event)'
    (pacienteEliminado)='onPacienteEliminado($event)'></editar-paciente>
<agregar-paciente></agregar-paciente>