<!-- Modal Formulario Crear Turno -->
<div class="modal fade" id="formCrearTurno" #formCrearTurno tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" #closeFormCrearTurno >&times;</button>
        <h3 class="modal-title" id="myModalLabel">Asignar nuevo turno</h3>
      </div>

      <!-- <div class="modal-body" > -->
      <div class="modal-body" *ngIf = 'horaNuevoTurno != null && diaNuevoTurno != null && pacientes != null' >

        <div class="form-group">
          <h4 >Turno: {{diaNuevoTurno}} a las {{horaNuevoTurno}}hs</h4>
        </div>
        <div class="form-group">
          <div style="width: 60%; margin-bottom: 1%;">
            <h4>Seleccionar un paciente</h4>
            <ng-select *ngIf = 'actualizado == true'
            [allowClear]="true"
                        [items]="pacientesSelector"
                        [disabled]="disabled"
                        (data)="refreshValue($event)"
                        (selected)="selected($event)"
                        (removed)="removed($event)"
                        (typed)="typed($event)"
                        placeholder="buscar">
            </ng-select>
          </div>
          <button class="btn btn-sm btn-primary pull-right" (click)='agregarPaciente()'>
            <strong>Agregar paciente</strong>
          </button>
        </div>

      </div>

      <div class="modal-footer">

        <button class="btn btn-danger" (click)='cancelar()'>
          Cancelar
        </button>

        <button class="btn btn-primary" (click)='asignarTurno()'>
          Agregar
        </button>

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->

</div>
<!-- /.modal -->

<agregar-paciente
  (pacienteAgregado)='onPacienteAgregado($event)'
></agregar-paciente>
