<!-- Modal Formulario Crear Turno -->
<div class="modal fade" id="formAgregarPaciente" #formAgregarPaciente tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" (click)="reiniciarFormulario(formulario)" class="close" data-dismiss="modal" aria-hidden="true" #closeFormAgregarPaciente >&times;</button>
        <h3 class="modal-title" id="myModalLabel">Agregar nuevo paciente</h3>
      </div>

      <form #formulario="ngForm">
        <div class="modal-body" >
          <!-- <div class="modal-body" *ngIf = 'horaNuevoTurno != null && diaNuevoTurno != null && pacientes != null' > -->

          <div class="form-group">
            <label>Nombre</label>
            <div class="input-group">
              <input #estadoNombre="ngModel"  minlength="1" required [(ngModel)]="pacienteNuevo.nombre" name="nombrePaciente" #nombrePaciente placeholder="Ej: Jorge" type="text" class="form-control">
            </div>
            <div *ngIf="estadoNombre.invalid && (estadoNombre.dirty || estadoNombre.touched)" class="alert alert-danger">
                El nombre es obligatorio
            </div>
          </div>

          <div class="form-group">
            <label>Apellido</label>
            <div class="input-group">
              <input #estadoApellido="ngModel" minlength="1" required [(ngModel)]="pacienteNuevo.apellido" name="apellidoPaciente"  #apellidoPaciente placeholder="Ej: Perez" type="text" class="form-control">
            </div>
            <div *ngIf="estadoApellido.invalid && (estadoApellido.dirty || estadoApellido.touched)" class="alert alert-danger">
                El apellido es obligatorio
            </div>
          </div>

          <div class="form-group">
            <label>Dni</label>
            <div class="input-group">
              <input  #estadoDni="ngModel" minlength="7" maxlength="9" required [(ngModel)]="pacienteNuevo.dni"  name="documentoPaciente" #dniPaciente placeholder="Ej: 38332764" type="text" class="form-control">
            </div>
            <div *ngIf="estadoDni.invalid && (estadoDni.dirty || estadoDni.touched)" class="alert alert-danger">
                <p *ngIf="estadoDni.errors.minlength || estadoDni.errors.maxlength "> El numero debe ser entre 7 y 9 numeros</p>
                <p *ngIf="estadoDni.errors.required"> El DNI es obligatorio</p>
            </div>
          </div>

          <div class="form-group">
            <label>Email</label>
            <div class="input-group">
              <input [(ngModel)]="pacienteNuevo.email" #emailPaciente name="emailPaciente" placeholder="Ej: ejemplo@gmail.com" type="text" class="form-control">
            </div>
          </div>

          
          <div class="form-group ">
            <label>Fecha de Nacimiento</label>
            
              <my-date-picker name="fechaPaciente" [options]="myDatePickerOptions" [(ngModel)]="fechaNacimiento" ></my-date-picker>

          </div>

          <div class="form-group">
            <label>Telefono</label>
            <div class="input-group">
              <input [(ngModel)]="pacienteNuevo.telefono" name="telefonoPaciente" #telefonoPaciente placeholder="Ej: 2994771333" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label>Ocupación</label>
            <div class="input-group">
              <input  [(ngModel)]="pacienteNuevo.ocupacion"  name="ocupacionPaciente" #ocupacionPaciente type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label>Observaciones</label>
            <div class="input-group">
              <textarea class="form-control" [(ngModel)]="pacienteNuevo.observaciones" name="observacionesPaciente" #observacionesPaciente rows="5" cols="80"></textarea>
            </div>
          </div>

          <!-- Podrian ser varias obras => Habria que ver el modelo -->
          <div class="form-group">
            <label>Obra Social</label>

            <select class="form-control" required [(ngModel)] = "obraSelected" name="obraSelected" name="obrasPaciente" >
              <option *ngFor="let obra of obras" [ngValue]="obra" >{{obra.nombre}}</option>
            </select>
          </div>

        </div>
      </form>

      <div class="modal-footer">

        <button class="btn btn-danger" (click)='cancelar()'>
          Cancelar
        </button>

        <button class="btn btn-primary"
        (click)='agregarPaciente(nombrePaciente.value,apellidoPaciente.value,
        dniPaciente.value, emailPaciente.value,telefonoPaciente.value, ocupacionPaciente.value, observacionesPaciente.value);
        nombrePaciente.value = null;
        apellidoPaciente.value = null;
        dniPaciente.value = null;
        emailPaciente.value = null;
        telefonoPaciente.value = null;
        ocupacionPaciente.value = null;
        observacionesPaciente.value = null

        ' [disabled]="estadoNombre.invalid || estadoApellido.invalid || estadoDni.invalid">
        Agregar
      </button>

    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

</div>
<!-- /.modal -->
