<div class="wrapper wrapper-content">

  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Mensajes</h5>
          <!--<iboxtools></iboxtools>-->
        </div>
        <div class="ibox-content ibox-heading">
          <h3><i class="fa fa-envelope-o"></i> Pedido de usuario</h3>
          <small><i class="fa fa-tim"></i> Tenes 22 solicitudes de usuario nuevas.</small>
        </div>
        <div class="ibox-content">
          <div class="feed-activity-list">

            <div class="feed-element">
              <div>
                <small class="pull-right text-navy">hace 1m</small>
                <strong>Monica Aleatorio</strong>
                <div>DNI: 12345678</div>
                <small class="text-muted">Hoy 5:60 pm - 12.06.2014</small>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">

      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Pacientes del día {{whatTime | async | amDateFormat:'hh:mm'}}  </h5>
               <!--<iboxtools></iboxtools>-->
            </div>
            <div class="ibox-content">
              <table class="table table-hover no-margins">
                <thead>
                <tr>
                  <th>Estado</th>
                  <th>Cita</th>
                  <th>Paciente</th>
                  <th>Tiempo de espera</th>
                  <th>Doctor<th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cita of citas">
                <!--
                {
                  "id": 12,
                  "dia": "01-06-2017",
                  "hora": "12:30",
                  "status": "Pendiente",
                  "paciente": "Raul",
                  "doctor": "Dra. Manzazno"
                }
                -->
                  <td >
                  <div class="dropdown">
                    <button [ngClass]="claseEstadoCita(cita.status)" class="btn btn-xs dropdown-toggle" type="button" id="estadoCita" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      {{cita.status}}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="estadoCita">
                      <li *ngFor="let estado of estadosCitas"><a (click)="updateCita(cita, estado.nombre)">{{estado.nombre}}</a></li>
                    </ul>
                  </div>

                  </td>
                  <td><i class="fa fa-calendar-o"></i> {{cita.turno | amDateFormat:'hh:mm'}}</td>
                  <td>{{cita.paciente}}</td>
                  <td class="text-warning"><i class="fa fa-clock-o"></i> {{ whatTime | async | amDateFormat:'hh:mm:ss' | amDifference: cita.turno | amDateFormat:'hh:mm' : 'minutes' }}</td>
                  <td>{{cita.doctor}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Tareas</h5>
              <!--<iboxtools></iboxtools>-->
            </div>
            <div class="ibox-content">
              <ul class="todo-list m-t small-list">
                <li *ngFor="let todo of todos; let i=index">
                  <a (click)="updateTodo(todo.id,todo.todo,!todo.completa);todo.completa = !todo.completa" class="check-link"><i class="fa" [ngClass]="{'fa-check-square': todo.completa,'fa-square-o': !todo.completa}"></i> </a>
                  <span class="m-l-xs" [ngClass]="{'todo-completed': todo.completa}">{{ todo.todo }}</span>
                 <a (click)=deleteTodo(todo.id)> <i class="fa fa-times-circle text-danger pull-right" aria-hidden="true"></i></a>
                </li>
              </ul>
              <!-- 
              Input para agregar tareas
              -->
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
