<div class="gray-bg middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">CLV</h1>

        </div>
        <h3>Bienvenido!!</h3>
        <!-- <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.

        </p> -->
        <p>Por favor, ingrese al sistema.</p>
        <form class="m-t" role="form" action="index.html" (ngSubmit)='login(email.value, password.value)'>
            <div class="form-group">
                <input #email class="form-control" type="email" name="email" placeholder="email">
            </div>
            <div class="form-group">
                <input #password class="form-control" type="password" name="password" placeholder="password">
            </div>

            <button type="submit" id="login" class="btn btn-primary block full-width m-b" >
                Log in
              </button>

          <span>{{messages}}</span>
        </form>
        <!--
        <p class="text-muted text-center"><small>No tiene una cuenta?</small></p>
         <a class="btn btn-sm btn-white btn-block" (click)='irRegistro()'>Crear una cuenta</a>
     -->
    </div>
</div>
