<form [formGroup]="particularesForm" novalidate>

  <div class="m-b-lg"></div>
  <div class="row m-sm">
    <div class="col-xs-8">
      <h3>Diás Solo Particular</h3>
    </div>
  </div>
  <hr>
  <div class="row m-l-none m-r-none no-paddings m-t-sm border-bottom">
    <div class="col-xs-12">
      <div class="col-lg-6 col-xs-12">
        <div class="col-xs-1">
          L
          <div class="checkbox">
            <label>
              <input formControlName="lunes" type="checkbox" value="">
            </label>
          </div>
        </div>
        <div class="col-xs-1">
          M
          <div class="checkbox">
            <label>
              <input formControlName="martes" type="checkbox" value="">
            </label>
          </div>
        </div>
        <div class="col-xs-1">
          M
          <div class="checkbox">
            <label>
              <input formControlName="miercoles" type="checkbox" value="">
            </label>
          </div>
        </div>
        <div class="col-xs-1">
          J
          <div class="checkbox">
            <label>
              <input formControlName="jueves" type="checkbox" value="">
            </label>
          </div>
        </div>
        <div class="col-xs-1">
          V
          <div class="checkbox">
            <label>
              <input formControlName="viernes" type="checkbox" value="">
            </label>
          </div>
        </div>
        <div class="col-xs-1">
          S
          <div class="checkbox">
            <label>
              <input formControlName="sabado" type="checkbox" value="">
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- TIME PICKER -->
        <p class="small no-margins">
          Seleccione los días que solo desee atender particulares
        </p>
      </div>
    </div>
  </div>

</form>