<div class=" example-container ">

  <!-- TODO: implementar este spinner -->
  <!-- <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div> -->

  <div class="">
    <h2 class="col-lg-8">Medicos</h2>
    <div class="col-lg-4">
      <style media="screen">
        #agregarObra {
          margin-top: 5%;
          margin-bottom: 2%;
        }

        .mouse-pointer {

          cursor: pointer;
        }
      </style>
      <!--
           <div id='agregarObra' class="row">
               <button class="btn btn-s btn-primary pull-right"  data-toggle="modal" data-target="#formAgregarMedico" ><i class="fa fa-plus"></i></button>
           </div>
       -->
    </div>
  </div>

  <br>

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar medico">
    </mat-form-field>
  </div>


  <mat-table #table [dataSource]="dataSource" class="hoverTable example-table" matSort matSortActive="apellido" matSortDisableClear
    matSortDirection="asc">

    <!-- Matricula Column -->
    <ng-container matColumnDef="matricula">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Matricula </mat-header-cell>
      <mat-cell (click)="editarMedico(row)" *matCellDef="let row"> {{row.matricula}} </mat-cell>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell (click)="editarMedico(row)" *matCellDef="let row"> {{row.nombre}} </mat-cell>
    </ng-container>

    <!-- Apellido Column -->
    <ng-container matColumnDef="apellido">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
      <mat-cell (click)="editarMedico(row)" *matCellDef="let row"> {{row.apellido}} </mat-cell>
    </ng-container>

    <!-- Duracion Turnos Column -->
    <ng-container matColumnDef="duracion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Duracion Turnos </mat-header-cell>
      <mat-cell (click)="editarMedico(row)" *matCellDef="let row"> {{row.duracion}} </mat-cell>
    </ng-container>

    <!-- Duracion Turnos Column -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Semana </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button (click)="configurarSemana(row)" class="btn btn-primary">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [ngClass]="{'isSpecial':  row._id == medicoSeleccionado._id}" *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <!-- TODO: una vez arreglado el CSS, agregar mas opciones de page size  -->
  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5]" [pageSize]="5">
  </mat-paginator>

</div>
<br>

<editar-medico *ngIf='medicoSeleccionado._id' [obrasRecibidas]='obras' [medicoSeleccionado]='medicoSeleccionado' (medicoEditado)='onMedicoEditado($event)'>
</editar-medico>

<app-modal-semana *ngIf="medicoSeleccionado != null && medicoSeleccionado.obras && medicoSeleccionado.obras.length > 0" [obrasDispTotales]="medicoSeleccionado.obras"
  [medico]="medicoSeleccionado" (semenaCambiada)='onIntervalosGuardados($event)'></app-modal-semana>

<agregar-medico *ngIf="obras && obras.length > 0" [obras]='obras' (medicoAgregado)='onMedicoAgregado($event)'></agregar-medico>